.Home {
  width: 100%;
  min-height: calc(100vh - 46px);
  background-image: url("../../images/fondito-morado.jpg  ");
  background-repeat: no-repeat;
  background-size: 160%;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.Home__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .Home__col {
    align-items: flex-start;
  }
}
